<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools"
		  package="com.example.drugdetection">

    <uses-sdk
			android:minSdkVersion="14"
			android:targetSdkVersion="22"/>

    <supports-screens
			android:anyDensity="true"
			android:largeScreens="true"
			android:normalScreens="true"
			android:smallScreens="true"/> <!-- 允许应用程序改变网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/> <!-- 允许应用程序改变WIFI连接状态 -->
    <uses-permission
			android:name="android.hardware.usb.host"
			android:required="false"/>

    <uses-feature
			android:name="android.hardware.usb.host"
			android:required="true"/>

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/> <!-- 允许应用程序访问有关的网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> <!-- 允许应用程序访问WIFI网卡的网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> <!-- 允许应用程序完全使用网络 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/> <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">
    </uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <permission android:name="android.permission.INSTALL_PACKAGES"/>

    <uses-permission
			android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
			tools:ignore="ProtectedPermissions">
    </uses-permission>
    <uses-permission
			android:name="android.permission.WRITE_SETTINGS"
			tools:ignore="ProtectedPermissions">
    </uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission
			android:name="android.permission.READ_LOGS"
			tools:ignore="ProtectedPermissions"/>

    <application
			android:name=".Mian.MainApplication"
			android:allowBackup="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:networkSecurityConfig="@xml/network_security_config"
			android:roundIcon="@mipmap/ic_launcher_round"
			android:supportsRtl="true"
			android:theme="@style/Theme.AppCompat.Light.NoActionBar"
			tools:ignore="Instantiatable">

        <activity
				android:name=".Mian.MainActivity"
				android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale|screenLayout|mcc|mnc"
				android:screenOrientation="portrait"
				android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
				android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--注册|创建用户-->
        <activity
                android:name=".User.CreateUser"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale|screenLayout|mcc|mnc"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan" />
        <!--编辑用户-->
        <activity
                android:name=".User.EditUser"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale|screenLayout|mcc|mnc"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan" />
        <!--登录-->
        <activity
                android:name=".User.Login"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale|screenLayout|mcc|mnc"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan" />
        <!--用户管理-->
        <activity
                android:name=".User.UserManagement"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale|screenLayout|mcc|mnc"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan" />
        <!--关于本机-->
        <activity
                android:name=".MainProcess.AboutMachine"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale|screenLayout|mcc|mnc"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan" />
        <!--关于本机-->
        <activity
                android:name=".MainProcess.EditReferenceScope"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale|screenLayout|mcc|mnc"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan" />
        <!--通用设置-->
        <activity
                android:name=".MainProcess.GeneralSettings"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale|screenLayout|mcc|mnc"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan" />
        <!--历史记录-->
        <activity
                android:name=".MainProcess.HistoricalRecords"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale|screenLayout|mcc|mnc"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan" />
        <!--主菜单-->
        <activity
                android:name=".MainProcess.Menu"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale|screenLayout|mcc|mnc"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan" />
        <!--项目管理-->
        <activity
                android:name=".MainProcess.ProjectManagement"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale|screenLayout|mcc|mnc"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan" />
        <!--参考范围管理-->
        <activity
                android:name=".MainProcess.ReferenceRangeManagement"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale|screenLayout|mcc|mnc"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan" />
        <!--Lis服务器设置-->
        <activity
                android:name=".MainProcess.ServerSettings"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale|screenLayout|mcc|mnc"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan" />
        <!--侧边栏-->
        <activity
                android:name=".MainProcess.Sidebar"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale|screenLayout|mcc|mnc"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan" />
        <!--测试-->
        <activity
                android:name=".MainProcess.Test"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale|screenLayout|mcc|mnc"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan" />
        <!--测试结果-->
        <activity
                android:name=".MainProcess.TestResults"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale|screenLayout|mcc|mnc"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan" />

        <!--开机自启-->
        <receiver android:name=".Mian.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>